$colors: (
  black: #000,
  white: #fff,
  purple: #1a237e,
  light-purple: #eff1ff,
  light-grey: #f5f5f5,
  periwinkle: #bac3ff,
  green: #00bfa5,
  grey: #666,
  blue: #f4fcfc,
  red: #f00,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
}
